.container{
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
}
.container-blocks{
    padding-top: 110px; 
}
.title{
    margin:0;
    box-sizing: border-box;
    text-align: center;
    width: 100%;
    font-size: 36px;
    line-height: 43px;
    color: #212121;
    font-family: "Raleway";
    font-weight: 400;
}
.line{
    width: 64px;
    margin: 0 auto;
    padding-top: 30px;
}
.orange{
    border-bottom: solid 2px #ff8b38;
}
.content{
    box-sizing: border-box;
    text-align: center;
    margin:0 auto;
    padding-top: 32px;
    font-size: 14px;
    line-height: 20px;
    color: #86878b;
    font-family: "Open Sans";
    font-weight: 400;
}
.awesome-block-items{
    clear: both;
    margin: 0 auto;
    width: 80%;
    padding-top: 80px;

}
.clearfix::after{
    content: " ";
    display: table;
    clear:   both;
}
.block-item{
    float: left;
    text-align: center;
    box-sizing: border-box;
    width: 33%;
    padding-right: 5%;
    padding-bottom: 105px;
    min-width: 150px;
}
.block-item:last-child{
    padding-right: 0;
}
.subtitle{
    margin:0;
    padding-top: 25px;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 700;
}
.icon{
    box-sizing: border-box;
    margin: auto;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: solid 1px #ff8b38;
    padding-top: 16px;
    }
.content-text{
    margin: 0;
    font-size: 14px;
    line-height: 20px;
    color: #86878b;
    font-family: "Open Sans";
    font-weight: 400;
    padding-top: 30px;
}
.pricing{
    clear: both;
    background-color: #f5f5f5;
    padding-top: 100px;
    padding-bottom: 80px;
}
.pricing-blocks{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items:flex-end;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
    padding-top: 80px;
}
.pricing-block{
    text-align: center;
    width: 30%;
    min-width: 150px;
}
.name{
    margin: 0;
    border-bottom: solid 2px #ffffff;
    background: #333;
    padding-top: 22px;
    padding-bottom: 22px;
    line-height: 24px;
    color: #ffffff;
    font-family: "Raleway";
    font-weight: 700;
}
.value{
    margin: 0;
    border-bottom: solid 2px #ffffff;
    background: #333;
    padding: 22px 22px;
    font-size: 58px;
    line-height: 24px;
    color: #ffffff;
    font-family: "Open Sans";
    font-weight: 600;
}
.span{
    color: #ffffff;
    font-size: 35px;
}
.info{
    background: #333;
    margin: 0;
    padding-top: 13px;
    padding-bottom: 13px;
    font-size: 14px;
    line-height: 24px;
    color: #999999;
    font-family: "Open Sans";
    font-weight: 600;
    border-bottom: solid 5px #ff8b38;
}
.pricing-body{
    margin: 0;
    align-items: center;
    padding: 0;
}
.pricing-item{
    width: 100%;
    padding-top: 13px;
    padding-bottom: 13px;
    margin-top: 1%;
    margin-bottom: 1%;
    list-style-type: none;
    font-size: 14px;
    line-height: 24px;
    color: #86878b;
    font-family: "Open Sans";
    font-weight: 400;
    background: #ffffff;
}
.border{
    border-bottom: solid 40px #ff8b38;
}
.custom-block{
    width: 100%;
    text-align: center;
    background: url('../img/city.png')no-repeat;
    background-size: cover;
}
.gradient{
    background: linear-gradient(90deg, rgba(6,6,6,0.4) 40%, rgba(6,6,6,0.4) 40%);
}
.stylish-block{
    padding-top: 75px;
    padding-bottom: 63px;
}
.custom-title{
    margin:0;
    box-sizing: border-box;
    text-align: center;
    width: 100%;
    font-size: 36px;
    line-height: 43px;
    color: #ffffff;
    font-family: "Raleway";
    font-weight: 400;
}
.white{
    border-bottom: solid 2px #ffffff;
}
.button{
    padding-top: 150px;
    color: #ffffff;
    border:solid 2px #f5f5f5;
    padding: 10px 30px;
    background-image: none; 
    background: transparent;
    background-color: transparent;
    margin-top: 30px;
}
.download-link{
    text-decoration: none;
    font-size: 15px;
    color: #ffffff;
    font-family: "Open Sans";
    font-weight: 600;
}
.footer{
    background: #000000;
    width: 100%;
}
.socials{
    text-align: center;
    padding-top: 40px;
}
.social{
    padding-right: 30px;
}
.social:last-child{
    padding-right: 0;
}
.reserved{
    margin: 0;
    padding-top: 13px;
    padding-bottom: 14px;
    text-align: center;
    font-size: 12px;
    color: #ffffff;
    font-family: "Open Sans";
    font-weight: 400;
}