.container{
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
}
.container-blocks{
    padding-top: 110px; 
    padding-bottom: 105px;
}
.title{
    margin:0;
    text-align: center;
    font-size: 36px;
    line-height: 43px;
    color: #212121;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    text-transform: uppercase;
}
.title::after{
    content: " ";
    display:block;
    margin:auto;
    width: 64px;
    margin-top: 30px ;
    border: 2px solid #ff8b38;
}
.content{
    text-align: center;
    margin:auto;
    padding-top: 32px;
    font-size: 14px;
    line-height: 20px;
    color: #86878b;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
}
.awesome-block-items{
    clear: both;
    margin: auto;
    width: 80%;
    padding-top: 80px;

}
.clearfix::after{
    content: " ";
    display: table;
    clear:   both;
}
.block-item{
    float: left;
    text-align: center;
    box-sizing: border-box;
    width: 33%;
    padding-right: 5%;
    min-width: 150px;
}
.block-item:last-child{
    padding-right: 0;
}
.subtitle{
    margin:0;
    padding-top: 25px;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 700;
}
.icon{
    box-sizing: border-box;
    margin: auto;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 1px solid #ff8b38;
    padding-top: 16px;
    }
.content-text{
    margin: 0;
    font-size: 14px;
    line-height: 20px;
    color: #86878b;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    padding-top: 30px;
}
.pricing{
    background-color: #f5f5f5;
    padding-top: 100px;
    padding-bottom: 80px;
}
.pricing-blocks{
    display: flex;
    justify-content: space-around;
    align-items:flex-end;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
    padding-top: 80px;
}
.pricing-block{
    text-align: center;
    width: 30%;
    min-width: 150px;
}
.name{
    margin: 0;
    border-bottom: 1px solid #ffffff;
    background: #333;
    padding-top: 22px;
    padding-bottom: 22px;
    line-height: 24px;
    color: #ffffff;
    font-family: "Raleway";
    font-weight: 700;
}
.value{
    margin: 0;
    border-bottom: 1px solid #ffffff;
    background: #333;
    padding: 22px 22px;
    font-size: 58px;
    line-height: 24px;
    color: #ffffff;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
}
.span{
    color: #ffffff;
    font-size: 35px;
}
.info{
    background: #333;
    margin: 0;
    padding-top: 13px;
    padding-bottom: 13px;
    font-size: 14px;
    font-style: italic;
    line-height: 24px;
    color: #999999;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    border-bottom: 5px solid #ff8b38;
}
.category{
    margin: 0;
    border-bottom: 1px solid #ff8b38;
    background: #ff8b38;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 14px;
    line-height: 24px;
    color: #ffffff;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
}
.pricing-body{
    margin: 0;
    align-items: center;
    padding: 0;
}
.pricing-item{
    padding-top: 13px;
    padding-bottom: 13px;
    margin-top: 1%;
    margin-bottom: 1%;
    list-style-type: none;
    font-size: 14px;
    line-height: 24px;
    color: #86878b;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    background: #ffffff;
    text-transform: uppercase;
}
.border{
    border-bottom: 1px solid #ff8b38;
    background: #ff8b38;
    padding-top: 8px;
    padding-bottom: 8px;
}
.custom-block{
    text-align: center;
    background: url('../img/city.png')no-repeat;
    background-size: cover;
}
.gradient{
    background: linear-gradient(90deg, rgba(0,0,0,0.4) 40%, rgba(0,0,0,0.4) 40%);
}
.stylish-block{
    padding-top: 75px;
    padding-bottom: 63px;
}
.custom-title{
    margin:0;
    text-align: center;
    font-size: 36px;
    line-height: 43px;
    color: #ffffff;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    text-transform: uppercase;
}
.custom-title::after{
    content: " ";
    display:block;
    margin:auto;
    width: 64px;
    margin-top: 30px ;
    border: 2px solid #ffffff;
}
.button{
    margin-top: 30px;
    color: #ffffff;
    border:2px solid #f5f5f5;
    padding: 10px 30px;
    background-color: transparent;
    font-size: 15px;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    cursor: pointer;
}
.footer{
    background: #000000;
}
.footer-block{
    padding-top: 40px;
    padding-bottom: 14px;
}
.socials{
    text-align: center;
}
.social{
    padding-right: 30px;
}
.social:last-child{
    padding-right: 0;
}
.reserved{
    margin: 0;
    padding-top: 13px;
    text-align: center;
    font-size: 12px;
    color: #ffffff;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
}